@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500;1,600&display=swap");

/* Reposition Google One Tap UI */
#credential_picker_container {
  position: absolute !important;
  top: 110px !important;
  z-index: 1 !important;
}

body {
  background-color: #177e89;
}

::selection {
  background-color: #db3069;
  color: white;
}
