/* Reposition Google One Tap UI */
#credential_picker_container {
  position: absolute !important;
  top: 110px !important;
  z-index: 1 !important;
}

body {
  background-color: #177e89;
  overflow-x: hidden;
}

::selection {
  background-color: rgba(219, 48, 105, 0.45);
}
